### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MacOS template
*.DS_Store
.AppleDouble
.LSOverride

### Keywhiz-CLI Test fixtures ###
src/main/resource/keywhiz_truststore.p12